{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ aliment }}</h1>

    <ol class="breadcrumb">
        {% for super in super_aliments %}
            {% if super is iterable %}
                {% for s in super %}
                    <li class="breadcrumb-item"><a href="{{ path('aliment_show', { id: s.id }) }}">{{ s }}</a></li>
                {% endfor %}
            {% else %}
                <li class="breadcrumb-item"><a href="{{ path('aliment_show', { id: super.id }) }}">{{ super }}</a></li>
            {% endif %}
        {% endfor %}

        <li class="breadcrumb-item active">{{ aliment }}</li>
    </ol>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ aliment.name }}</td>
        </tr>
        <tr>
            <th>Sous-catégorie</th>
            <td>
                {% for aliment in aliment.subAliments %}
                    <a href="{{ path('aliment_show', { id: aliment.id }) }}">{{ aliment }}</a>
                    {% if loop.index != loop.length %} /{% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Super-catégorie</th>
            <td>
                {% for aliment in aliment.superAliments %}
                    <a href="{{ path('aliment_show', { id: aliment.id }) }}">{{ aliment }}</a>
                    {% if loop.index != loop.length %} /{% endif %}
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('aliment_index') }}" class="btn btn-sm btn-primary">Retourner sur la liste des aliments</a>

{% endblock %}
