{% extends 'base.html.twig' %}

{% block body %}

    {# Fil d'ariane #}
    <ol class="breadcrumb">
        {% for super in super_aliments %}
            <li class="breadcrumb-item"><a href="{{ path('aliment_show', { id: super.id }) }}">{{ super }}</a></li>
        {% endfor %}
    </ol>

    {# Sous-aliment #}
    {% if aliment.subAliments | length > 0 %}
        <div>
            <h4>Affiner la recherche</h4>
            {% for aliment in aliment.subAliments %}
                <div style="display: inline-block; padding: 2px;">
                    <a class="btn btn-sm btn-outline-primary" href="{{ path('aliment_show', { id: aliment.id }) }}">{{ aliment }}</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <br>

    <h4>Liste des recettes correspondantes</h4>

    <div id="app">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Filter par nom..." v-model="search">
        </div>

        <div class="wrapper" id="list" style="display: none;">
            <div class="cocktail" v-for="recipe in filteredList">
                <a v-bind:href="recipe.link" v-bind:title="recipe.title">
                    <img v-bind:src="recipe.picture">
                    ${ recipe.shortTitle }
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/cocktail.css') }}">
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('assets/js/vue.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>

        // Activation des tooltips Bootstrap
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        class Recipe {
            constructor(id, title, picture) {
                this.id = id;
                this.title = title;
                //this.picture = '/assets/pictures/' + picture;
                this.picture = '{{ asset('assets/pictures/') }}' + picture;
                this.link = Routing.generate('recipe_show', {id: this.id});
                this.shortTitle = this.title.length > 20 ? this.title.substr(0, 20) + '...' : this.title;
            }
        }

        let recipes = [];

        {% for recipe in recipes %}

            recipes.push(new Recipe({{ recipe.id }}, `{{ recipe.name | raw }}`, `{{ recipe.picture }}`));

        {% endfor %}

        const app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                search: '',
                recipeList: recipes,
            },
            computed: {
                filteredList() {
                    return this.recipeList.filter(recipe => recipe.title.toLowerCase().includes(this.search.toLowerCase()));
                }
            }
        });

        // On réaffiche la liste
        $('#list').show();


    </script>

{% endblock %}
