{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <h1>Liste des recettes</h1>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Rechercher une recette..." v-model="search">
        </div>


        <div class="wrapper" id="list" style="display: none;">
            <div class="cocktail" v-for="recipe in filteredList">
                <a v-bind:href="recipe.link" v-bind:title="recipe.title">
                    <img v-bind:src="recipe.picture">
                    ${ recipe.shortTitle }
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/cocktail.css') }}">
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('assets/js/includes_polyfill.js') }}"></script>
    <script src="{{ asset('assets/js/vue.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>

        // Source : http://www.finalclap.com/faq/257-javascript-supprimer-remplacer-accent
        String.prototype.sansAccent = function() {
            var accent = [
                /[\300-\306]/g, /[\340-\346]/g, // A, a
                /[\310-\313]/g, /[\350-\353]/g, // E, e
                /[\314-\317]/g, /[\354-\357]/g, // I, i
                /[\322-\330]/g, /[\362-\370]/g, // O, o
                /[\331-\334]/g, /[\371-\374]/g, // U, u
                /[\321]/g, /[\361]/g, // N, n
                /[\307]/g, /[\347]/g, // C, c
            ];
            var noaccent = ['A','a','E','e','I','i','O','o','U','u','N','n','C','c'];

            var str = this;
            for (var i = 0; i < accent.length; i++){
                str = str.replace(accent[i], noaccent[i]);
            }

            return str;
        };

        // Activation des tooltips Bootstrap
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        // ES5
        function Recipe(id, title, picture) {
            this.id = id;
            this.title = title;
            this.picture = '{{ asset('assets/pictures/') }}' + picture;
            this.link = Routing.generate('recipe_show', { id: this.id });
            this.shortTitle = this.title.length > 20 ? this.title.substr(0, 20) + '...' : this.title;
        }

        // let recipes = [];
        var recipes = [];

        // ES5
        {% for recipe in recipes %}
            recipes.push(new Recipe({{ recipe.id }}, "{{ recipe.name | raw }}", "{{ recipe.picture }}"));
        {% endfor %}

        // ES5
        'use strict';

        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                search: '',
                recipeList: recipes
            },
            computed: {
                filteredList : function filteredList() {
                    var _this = this;

                    return this.recipeList.filter(function(recipe) {
                        return recipe.title.toLowerCase().sansAccent().includes(_this.search.toLowerCase().sansAccent());
                    });
                }
            }
        });

        // On réaffiche la liste
        $('#list').show();

    </script>

{% endblock %}
