{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <h1>Liste des recettes</h1>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Rechercher une recette..." v-model="search">
        </div>

        <div class="row">

            <table class="table" style="display: none;">
                <thead>
                <tr>
                    <th>Nom</th>
                </tr>
                </thead>

                <tbody v-for="recipe in filteredList">
                <tr>
                    <td>${ recipe.title }</td>
                    <td><a v-bind:href="recipe.link">Voir</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>

        class Recipe {
            constructor(id, title) {
                this.id = id;
                this.title = title;
                this.link = Routing.generate('recipe_show', {id: this.id});
            }
        }

        let recipes = [];

        {% for recipe in recipes %}

        recipes.push(new Recipe({{ recipe.id }}, '{{ recipe.name }}'));

        {% endfor %}

        document.querySelector('table').style.display = '';

        const app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                search: '',
                recipeList: recipes,
            },
            computed: {
                filteredList() {
                    return this.recipeList.filter(recipe => recipe.title.toLowerCase().includes(this.search.toLowerCase()));
                }
            }
        })

    </script>

{% endblock %}
