{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <div style="width: 300px; height: 300px">
                <img class="img-fluid" src="{{ asset('assets/pictures/' ~ recipe.picture) }}">
            </div>
        </div>

        <div class="col-lg-8">
            <h1>{{ recipe.name }}</h1>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Ingrédients</th>
                    <td>{{ recipe.ingredients }}</td>
                </tr>
                <tr>
                    <th>Préparation</th>
                    <td>{{ recipe.preparation | raw }}</td>
                </tr>
                <tr>
                    <th>Aliments utilisés</th>
                    <td>
                        {% for aliment in recipe.aliments %}
                            <a href="{{ path('aliment_show', { id: aliment.id }) }}">{{ aliment }}</a>
                            {% if loop.index != loop.length %} /{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>

            <p>
                {% if not is_granted('ROLE_USER') %}

                    {% if not is_favorite %}
                        <a href="{{ path('recipe_add_session_favorite', { id: recipe.id }) }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-star" aria-hidden="true"></i>&nbsp;Ajouter cette recette dans mes favoris
                        </a>
                    {% else %}
                        <a href="{{ path('recipe_remove_session_favorite', { id: recipe.id }) }}" class="btn btn-danger btn-sm">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp;Supprimer cette recette de mes favoris
                        </a>
                    {% endif %}

                {% else %}

                    {% if not is_favorite %}
                        <a href="{{ path('recipe_add_user_favorite', { id: recipe.id }) }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-star" aria-hidden="true"></i>&nbsp;Ajouter cette recette dans mes favoris
                        </a>
                    {% else %}
                        <a href="{{ path('recipe_remove_user_favorite', { id: recipe.id }) }}" class="btn btn-danger btn-sm">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp;Supprimer cette recette de mes favoris
                        </a>
                    {% endif %}

                {% endif %}
            </p>

            <a href="
                {% if previous_route == 'index' %}
                    {{ path('recipe_index') }}
                {% else %}
                    {{ previous_route }}
                {% endif %}
                ">Retour sur la liste</a>
        </div>
    </div>
{% endblock %}
