{% extends '::base.html.twig' %}

{% block body %}

    <h1>S'enregistrer</h1>

    <p><a href="{{ path('login') }}" class="btn btn-sm btn-secondary">Déja un compte ? Se connecter</a></p>

    {% if errors.count > 0 %}
        <div class="alert alert-danger" role="alert">
            Certains champs sont invalides. Veuillez revoir votre saisie.
            {% if form.birthDate.vars.errors | length > 0 %}
                <br>
                Date de naissance invalide.
            {% endif %}
        </div>
    {% endif %}

    {{ form_start(form) }}

        {{ form_row(form.login) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.email) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.birthDate) }}
        {{ form_row(form.address) }}
        {{ form_row(form.postCode) }}
        {{ form_row(form.city) }}
        {{ form_row(form.phoneNumber) }}

        <button type="submit" class="btn btn-primary">S'enregister</button>

    {{ form_end(form) }}

    <br>

{% endblock %}
